<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{message}}
        <div class="box">
            {{message}}
            {{score*0.9}}
            <input type="text" name="" id="" v-model="score">
            <input type="text" name="" id="" v-model="message">
            {{message*0.8}}
        </div>
        <div>
            <h2 v-if="loading">顯示訊息</h2>
            <div>
                <p v-if="score>=90">太棒了</p>
                <p v-else-if="score>=60">及格了</p>
                <p v-else>不及格了</p>
            </div>
        </div>
        <div>
            <ul v-for="color in colors">
                <li>{{color}}</li>
            </ul>
        </div>
        <div>
            <ul v-for="item in home">
                <!-- <li>{{item}}</li> -->
                <li>{{item.father}}</li>
                <li>{{item.mom}}</li>
                <li @click="hello(item.father)"></li>
            </ul>
           
        </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        let app = new Vue({
            el:'#app',
            data:{
                message:"hello world",
                score:60,
                loading:false,
                colors:["red","yellow","orange"],
                home:[{father:"tom",mom:"Mary"},{father:"Jhon",mom:"Cindy"}]
            },
            methods:{
                hello:function(father){
                    alert(father+" hello!");
                }
            }

        })
    </script>
</body>
</html>